body{
  height: 100%;
  width: auto;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor:default;
}
.container {
  position: fixed;
  left: 33%;
  width: 469px;
  height: 469px;
  margin: 50px auto;
  border: solid gray 15px;
  border-radius: 45px;
  background-color: gray;
  z-index: 0;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c0{
  color: #0A2A1B;
  width: 65px;
  height: 65px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 65px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  border-radius: 45px;
  margin: 1px;
}
.title{
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
}
#min_button{
  display: none;
}
#col:hover {
    background-color: yellow;
}
.info_wrapper{
  position: absolute;
  top: 25%;
}
.help{
  font-family: 'Fredericka the Great', cursive;
  text-align: left;
  position: absolute;
  top: 18.7%;
  right: 0%;
  width: 0px;
  height: 490px;
  border-radius: 10px 0px 0px 10px;
  border-top-style: solid;
  /*border-right-style: solid;*/
  border-bottom-style: solid;
  border-left-style: solid;
  padding: 3px;
  z-index: 1;
  background-color: white;
}
 .nextmove, .level , .moves, .combo, .points{
   margin-bottom: 5px;
  /*margin: 0 auto;*/
  right: auto;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  line-height: 47px;
  border: solid black;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: black;
  display: block;
  text-align: left;
  padding: 2px;
  text-align: center;
}
.min_wrapper{
  display: none
}
.how {
  position: absolute;
  font-family: 'Fredericka the Great', cursive;
  width: 200px;
  height: 47px;
  font-size: 2em;
  text-align: right;
  background-color: white;

}
.nextmove{
  width: 175px;
  height: 47px;
}
.combo{
  width: 225px;
  height: 47px;
}
.points {
  width: 250px;
  height: 47px;
}

#background {
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
}


.myButton {
	/*-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #dcdcdc;*/
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:40px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  font-family: 'Fredericka the Great', cursive;

}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
  border-radius:10px;

}
.myButton:active {
	position:relative;
	top:1px;
}

/*@media screen and (max-width: 750px) {

}*/
