body{
  text-align: center
}
.container {
  width: 469px;
  height: 469px;
  margin: 50px auto;
  border: solid gray 15px;
  border-radius: 45px;
  background-color: gray;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c0{
  color: #0A2A1B;
  width: 65px;
  height: 65px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 65px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  border-radius: 45px;
  margin: 1px;
}

#col:hover {
    background-color: yellow;

}
.nextmove, .level , .moves, .combo, .points{
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  width: 200px;
  height: 70px;
  border: solid black;
  text-align: center;
  line-height: 65px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: black;
  display: inline-block;
}
.points {

  width: 250px;
  height: 70px;
  /*border: solid black;
  text-align: center;
  line-height: 65px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: black;
  display: inline-block;*/
}

#background {
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:'Fredericka the Great', cursive;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
